<html>
   <body>
      <form action = "https://wgetweather.com/result" method = "POST">
         <p>Quantity <input type = "number" name = "quantity" step = "any"/></p>
         <label for="unit">Unit:</label>
         <select name="unit" id="unit">
            <option value="inches">inches</option>
            <option value="feet">feet</option>
            <option value="yards">yards</option>
            <option value="miles">miles</option>
            <option value="centimeters">centimeters</option>
            <option value="meters">meters</option>
            <option value="kilometers">kilometers</option>
            <option value="ounces">ounces</option>
            <option value="pounds">pounds</option>
            <option value="tons">tons</option>
            <option value="grams">grams</option>
            <option value="kilograms">kilograms</option>
            <option value="tonnes">tonnes</option>
          </select>
          <p><input type = "submit" value = "convert!" /></p>
      </form>
   </body>
</html>